{
    "swagger": "2.0",
    "info": {
        "title": "Swagger Floatthat",
        "description": "Swagger Floatthat",
        "contact": {
            "email": "harice.quinanola@elementzinteractive.com"
        },
        "version": "1.0.0"
    },
    "host": "floatthat.loc",
    "basePath": "",
    "schemes": [
        "http"
    ],
    "paths": {
        "/register": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "Register user",
                "description": "Register user to the system.",
                "operationId": "registerUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Created user object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/register/verify/{confirmation_code}": {
            "get": {
                "tags": [
                    "user"
                ],
                "summary": "Confirm registered user",
                "description": "Confirm registered user in the system.",
                "operationId": "confirmUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "confirmation_code",
                        "in": "path",
                        "description": "Confirmation code from email sent.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "Login user",
                "description": "Login user to the system.",
                "operationId": "loginUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Created user object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserLogin"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/float/create": {
            "post": {
                "tags": [
                    "float"
                ],
                "summary": "Creat float",
                "description": "Create a new float.",
                "operationId": "createFloat",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Created float object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Float"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        }
    },
    "definitions": {
        "User": {
            "properties": {
                "name": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "password_confirmation": {
                    "type": "string"
                },
                "avatar": {
                    "type": "string"
                },
                "twitter_provider_id": {
                    "type": "string"
                },
                "facebook_provider_id": {
                    "type": "string"
                },
                "confirmation_code": {
                    "type": "string"
                }
            },
            "xml": {
                "name": "User"
            }
        },
        "UserLogin": {
            "properties": {
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            },
            "xml": {
                "name": "UserLogin"
            }
        }
    }
}